/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .banner {
    max-width: 120rem;
  }
  .image-container::after,
  .nft-image-container::after {
    font-size: 0.7rem !important ;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .heading-secondary {
    font-size: 2.4rem;
    margin-bottom: 3.2rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    font-size: 60%;
  }
  .width-auto {
    width: 20% !important;
  }
  .arrow-btn {
    font-size: 2.4rem;
  }
  .banner-image {
    width: 100%;
  }
  .line-container {
    max-width: 30rem;
  }
  .banner-image-container {
    justify-content: unset;
  }
  .card-head {
    margin-bottom: 2.4rem;
  }
  .card-heading {
    font-size: 1.8rem;
  }
  .banner-label span {
    font-size: 1.4rem;
  }
  .banner-heading {
    font-size: 1.8rem;
  }
  .banner-tagline {
    font-size: 2.4rem;
  }

  .wallet-code input {
    width: 5rem;
  }
  .hero-description,
  .card-description,
  .price-range,
  .account-number,
  .in-your-wallet {
    font-size: 1.4rem;
  }
  .account-slider {
    height: 60rem;
    width: 30rem;
  }
  .account-nft-collection {
    height: 38rem;
  }
  .nft-img {
    border-radius: 2rem;
  }
  .account-image,
  .owner-image {
    height: 4rem;
    width: 4rem;
  }
  .tag-artist,
  .artist-name {
    font-size: 1.5rem;
  }
  .account-amount {
    font-size: 2.4rem;
  }
  .card-label span {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .icon-btn {
    font-size: 2rem;
  }
  .image-container::after,
  .nft-image-container::after {
    font-size: 1.8rem;
  }
  .logo,
  .footer-heading {
    font-size: 2rem;
  }

  .icons {
    font-size: 2rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .width-auto {
    width: 40% !important;
  }
  .banner-buttons {
    flex-direction: column;
  }
  .btn,
  .buy-sell-btn {
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .card-grid {
    grid-template-columns: 1fr;
  }
  .image-container::after,
  .nft-image-container::after {
    font-size: 1.4rem !important;
  }
  .banner-content-info {
    grid-row: 2;
    padding: 0 1rem;
  }

  .banner-image {
    height: 20rem;
  }
}
